visulization v1
visulization resnet18
runs
checkpoints
cache_windows_eval
cache_windows_eval_8_classes
cache_windows
assets
__pycache__
*.pt
*.pth
*.csv_bi
*.png
cache_windows_binary
*.csv
cache_windows_downed_binary
cache_windows_binary_eval
cache_windows_downed2x_binary_10_sec
cache_windows_downed_binary_10_sec
cache_windows_binary_10_sec_eval
cache_windows_binary_10_sec
data_ML
venv/
*.lnk
